.loginForm {
	display: block;
	background-color: #ffffff;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 495px;
	height: 340px;
	margin-top: -170px;
	margin-left: -247.5px;
	top: 50%;
	left: 50%;
}
.textLogo {
	display: block;
	width: 40%;
	padding-top: 9px;
	margin-left: auto;
	margin-right: auto;
}
.inputView {
	position: absolute;
	height: 30%;
	left: 0%;
	bottom: 0%;
	background: #F1F1F1;
	border-radius: 54px;
}
.inputText {
	position: absolute;
	left: 6.25%;
	right: 46.75%;
	top: 32.35%;
	bottom: 32.35%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	color: #8F8F8F;
	background-color: transparent;
	border: 0px solid;
}
.block1 {
	position: absolute;
	height: 30%;
	width: 30%;
	right: 0%;
	bottom: 0%;
	z-index: -1;
}

.col1 {
	position: relative;
	height: 100%;
	/*grid-column: 1 / span 1;*/
	flex: 1;
}

.col11 {
	position: relative;
	height: 100%;
	flex: 11;
}

@media only screen and (max-width: 640px) {
 	.loginForm {
		width: 200px;
		height: 162px;
		margin-top: -100px;
		margin-left: -81px;
	}
	.inputText {
		font-size: 12px;
		line-height: 24px;
	}
}

textarea:focus, input:focus{
    outline: none;
}