.container {
    flex: 11;
    background: black;
    color: white;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.info {
    flex: 5;
    display: flex;
    padding  : 8% 4% 0% 4%;
}

.answer {
    flex: 1;
}

.judge {
    flex: 2;
    text-align: right;
    display: flex;
    flex-flow: column;
}
.ranking {
    color: white;
    flex: 2;
    display: flex;
    flex-flow: column;
}
.quest {
    flex: 3;
}


.rollAppear {
    opacity: 0;
    transform: translateX(300px);
}
.rollEnter {
    opacity: 0;
    transform: translateX(300px);
}
.rollEnterDone {
    opacity: 1;
    transition: transform 1000ms, opacity 1000ms;
}
.rollExit {
    transform: rotate(90deg);
    opacity: 1;
}
.rollExitActive {
    transform: rotate(0deg);
    opacity: 0;
    transition: transform 1000ms, opacity 1000ms;
}