
.rollAppear {
    opacity: 0;
    transform: translateX(-100px);
}
.rollEnter {
    opacity: 0;
    transform: translateX(-100px);
}
.rollEnterDone {
    opacity: 1;
    transition: transform 1000ms, opacity 1000ms;
}
.rollExit {
    transform: rotate(90deg);
    opacity: 1;
}
.rollExitActive {
    transform: rotate(0deg);
    opacity: 0;
    transition: transform 1000ms, opacity 1000ms;
}