body {
    margin: 0;
    font-family: "Poppins";
    font-size: 1em;
}
* {
    box-sizing: border-box;
}
#root {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    background: #f1f1f1;
}

#loading::before {
    content: " .";
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
    }
}

