.arrowContainer {
    height : 10%;
    margin : 1rem 0 !important;
}
html {
    --scrollbarBG: transparent;
    --thumbBG: #ffffff;
}
.hasScrollBar::-webkit-scrollbar {
    width: 11px;
}

.hasScrollBar {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.hasScrollBar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.hasScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}